@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");

@font-face {
    font-family: "Material Icons Outlined";
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialiconsoutlined/v27/gok-H7zzDkdnRel8-DQ6KAXJ69wP1tGnf4ZGhUce.woff2)
        format("woff2");
}

@font-face {
    font-family: "Material Icons";
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialicons/v55/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format("woff2");
}

.material-icons-outlined {
    font-family: "Material Icons Outlined";
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
}

.material-icons {
    font-family: "Material Icons";
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
}

$primary_color: #399fad;
$bg_color: #f1f3f8;

* {
    font-family: "Roboto", sans-serif;
}

body {
    background-color: $bg_color;
}

.stip_h1 {
    font-size: 21px;
    font-weight: 600;
}

.stip_h2 {
    font-size: 18px;
    font-weight: 600;
}

.stip_p {
    font-size: 16px;
    font-weight: 400;
}

.stip_label {
    font-size: 12px;
    font-weight: 300;
}

.stip_bold {
    font-weight: 600;
    color: $primary_color;
}

.stip_color {
    color: $primary_color;
}

.stip_container {
    height: 100vh;
}

.stip_btn {
    background-color: $primary_color;
    border-radius: 6px;
    color: white;
    font-size: 16px;
    font-weight: 500;

    &:hover {
        color: white;
        background-color: darken($primary_color, 5%);
    }

    &:focus {
        box-shadow: none;
    }
}

.stip_btn-secondary {
    background-color: transparent;
    border-radius: 6px;
    color: $primary_color;
    font-size: 16px;
    font-weight: 500;
    border: 1px solid $primary_color;

    &:hover {
        color: white;
        background-color: $primary_color;
    }

    &:focus {
        box-shadow: none;
    }
}

.stip_logo {
    height: 200px;
    width: 200px;
    background: url("./img/logo.png") center center no-repeat;
    background-size: contain;
}

#stip_logout-btn {
    position: absolute;
    bottom: 30px;
    left: 30px;
    font-size: 35px;
}

.stip_table-row {
    border-bottom: 2px solid #c2c2c2;
    transition: 0.5s;
    &:hover {
        background-color: #ebebeb;
    }
}

.stip_add-btn {
    &:focus {
        box-shadow: none;
    }
}

.swiper-container {
    width: 70%;
}

.stip_swiper-icon {
    color: $primary_color;

    &::after {
        font-size: 25px;
        font-weight: bold;
    }
}

.stip_card {
    border: 0;
    max-width: 600px;
}

.stip_label-btn {
    width: 100px;
}

@media (max-width: 992px) {
    .swiper-container {
        width: 80%;
        position: initial;
    }
}

@media (max-width: 576px) {
    .stip_labelling-back-container {
        position: relative !important;
    }

    .stip_label-btn {
        width: 100%;
    }
}
